%h1= t('.about_title')
.about-copy
  %h1.list
    Приложение Галерея позволяет познакомится с некоторыми художниками
    %br
      Пользователи сайта могут просматривать изображения по трем темам (три автора)
    %br
      Это такие авторы как
    %br
      Иван Константинович Айвазовский
    %br
      Никола́й Петро́вич Петро́в
    %br
      Валентин Александрович Серов
